/*GOLBAL*/
a{
  text-decoration: none;
  color: black;
}
a:hover,
a:focus,
a:active
{
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.custom-container{
  /* background-color: chartreuse; */
  /* border: 10px solid coral; */
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}
.custom-container-md{
  padding-right: 12vw;
  padding-left: 12vw;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}
.custom-container-slg{
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}

@media(max-width: 768px){
  .custom-container-slg{
    padding-top: 60px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media(max-width: 768px){
  .custom-container{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1680px;
  }
  .custom-container-md{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
  }
}
@media(min-width: 2160px){
  .custom-container{
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1680px;
  }
  .custom-container-md{
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
  }
  .custom-container-slg{
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    max-width: 1440px;
  }
}
.App {
  text-align: center;
}
hr{
  width: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.apply-margin-top-lg{
  padding: 45px 0 0 0;
}
.apply-margin-top-sm{
  padding: 20px 0 0 0;
}
.apply-margin-top-md{
  padding: 35px 0 0 0;
}
.apply-margin-bt-sm{
  padding: 0 0 15px 0;
}
.apply-margin-bt-md{
  padding: 0 0 35px 0;
}
.apply-margin-tb{
  padding: 35px 0;
}
.apply-margin-bt-lg{
  padding: 0 0 45px 0;
}
/* .header {
  background-color: #222;
  height: 10vh;
  padding: 10px;
  color: red;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
a, a:hover{
  color: black;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
