/* container style */
.product-list-container{
  /* background-color: chartreuse; */
  /* border: 10px solid coral; */
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 10vh;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.custom-container-slg .page-title{
  padding-left: 15px ;
  margin: 0 0 10px 0;
}
.custom-container-slg .page-path{
  padding-left: 14px !important;
}
/* render product style */
.product-list-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
}
.product-render-table{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start
}
.product-render-table h3{
  padding: 0 0 20px 20px;
}
.product-list-render{
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.product-list-renderv ul {
  padding: 0;
  /* margin: 0 0 0 120px; */
  border: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  }
.product-list-render ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-gap: 25px;
  }

  /* .product-list-render  li:nth-child(4n):after {
    flex-basis: 300%;
 } */

.product-list-each{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
  margin: 0 2px 0 2px;
  transition: all 0.3s ease-in-out;
}
.pd-list-frame{
  margin: 15px 0;
  /* width: 100%; */
}
.pd-list-frame:last-child{
  margin-right: auto;
  /* width: 100%; */
}

.product-list-each:hover{
  box-shadow:0px 16px 22px 0px rgba(90, 91, 95, 0.18);
  transform: scale(1.035,1.035);
}
li a, li a:hover{
  text-decoration: none;
  color: black;
}
.product-list-each h6{
  margin: 12px 0 0 0 ;
  text-align: center;
  font-weight: 200;
}
.product-list-each p{
  margin: 9px 0 0 0;
  text-align: center;
}

.product-list-each img{
  object-fit: cover;
  /* width: 210px;
  height: 225px; */
  width: 100%;
  height: auto;
}
/* filter style*/
/* .product-list-filter{
  margin-right: 5vw; 
} */
.product-list-filter ul {
  padding: 0px;
}
.product-list-filter li{
  padding-top:20px;
}
.cata-header{
  color: #7B6056;
  font-weight: 500;
  border-bottom: 3px solid #7B6056;
  /* margin: 0 20px 0 0; */
}
.cata-header h5{
  font-size: 1.16rem !important; 
  font-weight: 500;
}
.navs-mb{
  /* font-size: 1.35rem; */
  font-size: 1.2rem;
}
.cata-navs div a{
  margin: 5px 0 0 0; 
  padding: 5px 0 0 0; 
}
.cata-navs i{
  padding-right: 5px;
}
.cata-navs div a{
  display: inline-block;
  /* padding: 0 10px; */
  width: 100%;
}
.cata-navs div:first-child a{
  margin: 5px 0 0 0; 
  padding: 5px 0 0 0; 
}
.ranger-slider{
  padding-left: 5px;
  padding-right: 5px;
}
.rc-slider{
  /* margin: 0 20px 0 0 !important; */
  width: auto !important;
}
.rc-slider-track {
  background-color:#74B4B5 !important;
}
.rc-slider-handle {
  border: solid 2px #74B4B5 !important;
}
.price-range-display{
  margin-right: 20px;
  font-size: 0.9rem;
  font-weight: 550;
  margin-top: 3px !important;
  padding-left: 5px;
  padding-right: 5px;
}
.price-range-display-mb{
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 550;
  margin-top: 3px !important;
  padding-left: 5px;
  padding-right: 5px;
  text-align:center;
}
.vertical-quick-nav{
  margin-top: 12px;
}
@media(max-width: 767px){
  .vertical-pd-nav{
    display:none !important; 
  }
  .vertical-quick-nav{
    display:none !important; 
  }
  .hor-quick-sort{
    display:none !important; 
  }
  hr {
    display: none !important;
  }
  .product-list-each h6{
    width: 90%;
    text-align: left;
  }
  .product-list-each p{
    width: 90%;
    text-align: left;
  }
  .sub-cat{
    font-size: 1.1rem !important;
  }
}



@media(min-width:992px) and (max-width:1132px){
  .price-range-display{
    font-size: 9pt !important ;
  }
  .range-filter{
    margin:0;
  }
} 

@media(max-width:992px){
  .price-range-display{
    margin-right: 20px;
    font-size: 0.7rem;
    font-weight: 550;
    margin-top: 5px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .range-filter{
    color:white;
    background:#74B4B5;
    margin: 10px 20%;
    border: 1px solid #74B4B5;
    font-size: 0.7rem;
    border-radius: 5px
  }
}
.range-filter{
  color:white;
  background:#74B4B5;
  padding: 4px 6px 3px 6px;
  border: 1px solid #74B4B5;
  font-size: 0.75rem;
  border-radius: 5px
}
.range-filter-mb{
  color:white;
  background:#74B4B5;
  padding: 4px 6px 3px 6px;
  border: 1px solid #74B4B5;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 10px;
}
.mb-cat-sort{
  margin-top: 25px;
}
.range-filter-mb:hover{
  color:white;
  background:rgb(103, 160, 161);
  border: 1px solid #74B4B5;
  cursor: pointer;
}
.range-filter:hover{
  color:white;
  background:rgb(103, 160, 161);
  border: 1px solid #74B4B5;
  cursor: pointer;
}
.pdr-list-frame{
  width: 100%;
  display: block;
}
.top-related-pd-img{
  margin-left: 5px;
  padding: 0;
}
.top-related-pd-img img{
  object-fit: cover;
  width: 100%;
  height: auto;
}
.top-related-pd-desc{
  padding: 0 0 0 15px;
  margin: 0;
}
.top-related-pd-name{
  margin-top: auto;
  font-size: 10.5pt !important;
  padding:0;
  margin:0;
  font-weight: 540;
}
.top-related-pd-price{
  margin-bottom: auto;
  font-size: 10.5pt !important;
  padding:0;
  margin:0;
  font-weight: 540;
}
.product-tags{
  margin: 12px 1px; 
}
.product-tags a{
  color:white;
  background:#74B4B5;
  margin:5px 5px;
  border: 1px solid #74B4B5;
  padding: 5px 6px 3px 6px;
  font-size: 0.75rem;
  border-radius: 5px
}
.product-tags a:hover{
  background:rgb(103, 160, 161);
  border: 1px solid #74B4B5;
  cursor: pointer;
}
.sort-icon-sec{
  padding: 0;
  margin: 0;
}
.sort-icon{
  margin: 0px 5px 0 0 !important;
}
.sort-icon:nth-child(2){
  margin: 0 !important;
}
.sort-icon i{
  color: #5C5E60;
  border: 1px solid rgba(103, 160, 161, 0.6);
  border-radius: 5px;
  padding: 4.5px;
}
.sort-icon-row{
  padding: 4.5px 6px !important;
}
.pd-show-sec hr{
  height: 2px;
  width: 96%;
  margin: auto;

}
.sorting-by{
  padding-left: 0 !important;
}
@media(max-width: 889px){
  .sorting-by div:last-child, .sorting-by div:first-child{
    display: none;
  }
}
.hor-quick-sort{
  margin: 12px 0;
  font-size: 0.8rem !important;
  font-weight: 500;
}
.hor-quick-sort div{
  margin: 10px 0;
  font-size: 0.8rem !important;
  margin: 0 5px;
}
.hor-quick-sort select{
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 1px;
  width: 100%;
  padding: 1px 25px 1px 10px;
  background: white;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background-image: url("/dparrow.svg");
  background-repeat: no-repeat;
  background-position:  94% 55%;
  background-size:  10px 10px; 
  text-align-last: center;
}
.cat-nav::before{
  content:url('/catArrow.svg');
  display: block;
}
.cat-arrow{
  width: 12px;
  height: 24px;
  transform: rotate(-90deg);
}
.cat-arrow-active {
  transform: rotate(0deg) !important;
}
.cat-dropdown span{
  margin-left: 10px;
}
.sub-cat{
  font-size: 10.5pt;
  padding: 3px 0 0 20px;
}
.sub-cat:hover{
  opacity: 0.6;
  cursor: pointer;
}
.cata-navs div a:hover{
  opacity: 0.6;
  cursor: pointer;
  /* background: rgba(90, 91, 95, 0.02); */
}
.sub-cat::before{
  content: "．"
}


/* product not found */
.not-found div{
  font-size: 16pt;
  margin: 0 0 15px 0;
}
.not-found a{
  margin: 0 0 45px 0;
  background: #74B4B5;
  padding: 6px 20px 6px 20px;
  outline: none;
  border: 1px solid #74B4B5;
}
.not-found a span{
  color: white;
}

.not-found a:hover{
opacity: 0.75;
}


/* product List*/

.list-card-overlay .pd-int-btn {
  width: 45px;
  margin: 0 10px;
  height: auto;
  object-fit: cover;
  transition: all 0.3s;
  z-index: 19999;
}
.list-card-overlay .pd-int-btn:hover {

  /* height: auto;
  width: 55px; */
  /* transform: scale(1.15); */
  /* box-shadow:0px 16px 22px 0px rgba(90, 91, 95, 0.18); */
  z-index: 19999;
}



.list-card-overlay{
  position: absolute;
  /* display: none !important; */
  opacity: 0;
  /* background: rgba(0,0,0, 0.1); */
  transform: translate(0,  100px);
  width: 100%;
  /* height: 107%; */
  height: 100%;
  transition: all 0.3s
}
  .product-list-each:hover  .list-card-overlay{
  /* display: flex !important; */
  opacity: 1;
  transform: translate(0, 0);
}
.list-card-overlay:hover{
  cursor: pointer;
  display: flex !important;
}
.list-card-overlay img{
  width: 45px;
}


/* mobile style */
.mb-filter{
display: none !important;
background: white;
margin-right: 10px;
/* border-bottom: 1px solid #5C5E60; */
width: 100%;
}
.mb-pd-filter{
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 1px;
  width: 90%;
  padding: 6px 0px 6px 15px;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:  url("/funnel.svg");
  background-repeat: no-repeat;
  background-position: 94% 55%;
  background-size: 10px 10px;
  margin: 10px 0px;
  /* text-align-last: center; */
}
.mb-sorting{
  margin-left: 10px;
  width: 90%;
}
.mb-sorting select{
  margin: 10px 0px;
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 1px;
  width: 100%;
  /* padding: 1px 25px 1px 10px; */
  padding: 6px 0px 6px 15px;
  background: white;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background-image: url("/dparrow.svg");
  background-repeat: no-repeat;
  background-position:  94% 55%;
  background-size:  10px 10px; 
  /* text-align-last: center; */
}
.mb-result{
  display:none;
}
@media(max-width: 767px){
  .list-card-overlay {
    display: none !important;   
  }
  .mb-filter{
    display: flex !important;
    }
    .apply-margin-top-md{
      padding: 15px 0 0 0; 
    }
    .page-title{
      padding-left: 0 !important;
    }
    .page-title h6{
      font-size: 20px !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .mb-result{
      display: block !important;
      margin-left: auto;
    }
    .page-path{
      margin: 0;
      padding: 16px 0 10px 0 ;
    }
}
.static{
  position: fixed;
  top: 54px;
  left: 0;
  padding: 0 16px;
  z-index: 888;
}
.float{
  position: relative;
  /* top: 55.5px; */
}

/* overite modal */
.modal-content {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}
.modal-dialog{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.modal-backdrop {
  /* z-index: 1000001 !important; */
}

.modal {
  /* z-index: -1 !important; */
  margin-top: 55px;
}
.modal-title{
  font-size: 1.5rem;
}
.bm-overlay{
  /* z-index: 1000012 !important; */
}
.productListPage .page-path{
  margin-top: 1px;
}

.modal-body {
  overflow-y: scroll;
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}

/* overite modal */

/* mobile style */