/* .wishlist-table-row*/
.wishlist-container{
  /* background-color: chartreuse; */
  /* border: 10px solid coral; */
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}
.wishlist-table-container{
  /* padding-top: 30px; */
}
.wishlist-table {
  display: table;
  padding: 20px 0 0 0;
  width: 100%;
}
.page-path{
  color: black;
  font-size: 10.9pt;
}
.page-path ul{
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.page-path li{
  padding: 0 2px 0 2px;  
}

/* wishlist tabe title */
.page-title h6{
  color: #7B6056;
  font-size: 22.5pt;
  font-weight: 550;

}

/* table-header */
.wishlist-table-row-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* row -h*/
.wishlist-table-row-h{
  /* display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center; */
  /* margin: 0 0 20px 0; */
  background: #74B4B5;
  color: white;
  width: 100%;
  padding: 15px 0;
  margin: 0 15px;
}
.wishlist-table-row-h h6{
  font-size: 12.5pt;
  margin: 0;
  padding:0;
}
.wishlist-table-row-h .wishlist-table-cell-f{
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  margin:14px 10px 14px 50px;
}
.wishlist-table-row-h .wishlist-table-cell{

}

.wishlist-table-row-h .wishlist-table-cell-f h6:nth-child(2){
  padding-left: 20px;
  margin-left: 130px;
}
.wishlist-table-row-h .wishlist-table-cell:nth-child(2){
  color: red;
  flex-grow: 2;
}
.wishlist-table-row-h .wishlist-table-cell:nth-child(5){
  color: red;
}
/* /row-h */
/* table cell row*/
.row-divider{
  margin: 20px 12px 20px 12px;
}
.wishlist-table-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.wishlist-table-row-h .wishlist-table-cell{
    margin: 14px 1vw 14px 1vw;
    max-width: 120px;
    min-width: 120px;
    text-align: center;

}
.wishlist-table-row .wishlist-table-cell {
  margin: 14px 0 14px 0;
  /* max-width: 120px;
  min-width: 120px; */
  /* flex-grow: 1; */
  /* text-align: center; */
}

.wishlist-table-row .wishlist-table-cell:nth-child(4){
  padding-right: 0px;
}
.wishlist-table-row .wishlist-table-cell:nth-child(1){
  text-align: center;
}
.rm-btn-title{
  text-align: center;
}
.wishlist-table-row .wishlist-table-cell-f{
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  margin: 14px 0px 14px 0;
}
.wishlist-table-cell img{
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.wishlist-table-cell-f div:nth-child(2){
  padding-left: 30px;
  text-align: left;
}

.wishlist-table-row .wishlist-table-cell:nth-child(5){
  padding-right: 0px;
  margin: 14px 0px 14px 14px;
}
.wishlist-table-cell .fa-times{
  color: #74B4B5;
  background: white;
  font-size: 14pt;
  transition: all 0.3s ease-in-out;
  border-radius: 100%;
}
.wishlist-table-cell .fa-times:hover{
  color: #74B4B5;
  opacity: 0.55;
  cursor: pointer;

}
.table-interaction:hover{
  cursor: pointer;
}
.table-interaction ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 0 0 0 10px;
  margin: 0;
}
.table-interaction li:nth-child(2){
  padding-left: 20px;
  flex-grow: 1;
}

.table-interaction li button{
  background: none;
  border: 1px solid #74B4B5;
  padding: 10px 20px 10px 20px;
}
.a-t-c{
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.stock-status{
  color: #74B4B5;
}
.table-interaction button{
  background:#74B4B5;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
}
.addBtn{
  background: #74B4B5;
  color: white !important;
  border: none;
  padding: 10px 20px 10px 20px;
  margin: 0 0 0 12px;
}
.addBtndsb{
  background: #74B4B5;
  color: white !important;
  border: none;
  opacity: 0.65;
  padding: 10px 20px 10px 20px;
  margin: 0 0 0 12px;
}
.addBtn:hover{
  cursor: pointer;
  opacity: 0.95;
}
.addBtndsb:hover{
  cursor: not-allowed;
  opacity: 0.95;
}
.dk-pd-name{
  font-size: 1.05rem;
  font-weight: 200;
}
.mb-name-row{
  display: none;
}
.table-interaction li button:hover,
.table-interaction li button:focus,
.table-interaction li:nth-child(3) button:hover,
.table-interaction li:nth-child(3) button:focus
{
  background: rgb(95, 144, 145);
  cursor: pointer;
  color: white;
  outline: none; 
  border: 1px solid #74B4B5;
}

.table-interaction li:nth-child(3) button{
  background: #74B4B5;
  color: white;
  padding: 10px 20px 10px 20px;
  outline: none; 
  border: 1px solid #74B4B5;
}

.pd-title{
  padding: 0 0 0 155px !important;
}
/* qty increment */
.wishlist-product-interaction{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.wishlist-QTY{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.wishlist-QTY_btn{
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  padding: 1px 2px 0 2px;
  border: 0.5px solid #CCC8C8;
}

.wishlist-QTY_btn i{
  padding: 10px;
  font-size: 11.5pt;
  font-weight: lighter;
  color: #CCC8C8;
}

/* check out sec */
/* .checkout-section{
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #4D4D4D;
  margin-left: 10px;
  margin-top: 95px;
} */
.checkout-section h5{
  font-size: 14.5pt;
  font-weight: 600;
}
.checkout-section button{
  background: #74B4B5;
  color: white;
  padding: 10px 20px 10px 20px;
  outline: none; 
  border: 1px solid #74B4B5;
  padding: 10px 20px 10px 20px;
}
.checkout-section button:hover{
  background: rgb(95, 144, 145);
  cursor: pointer;
  color: white;
  outline: none; 
  border: 1px solid #74B4B5;
  padding: 10px 20px 10px 20px;
}
.subtotal-amount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.subtotal-amount ul:nth-child(2){
  text-align: end;
}
.checkout-section p{
  font-weight: 530;
  margin: 0;
}
.checkout-section input{
  width: 70%;
  height: 40px;
  outline: 0;
  border: 1px solid #74B4B5;
}
.checkout-section ul{
  padding: 0;
  margin:0;
}
.checkout-section ul li{
  padding: 0 0 20px 0;
}
/* .checkout-section ul li:first-child, .wishlist-total ul li:first-child{
  padding: 0 0 30px 0;
  font-size: 20pt;
} */
.coupon-code, .wishlist-total{
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  background: #F5F6F8;
  padding: 45px;
  max-width: 46%;
  min-width: 46%;
  border-top: 5px solid #4D4D4D; */
}


.empty-wl{
  margin: 0 0 10px 0;
}
.empty-wl button{
  margin: 0 0 45px 0;
  background: #74B4B5;
  color: white;
  padding: 6px 20px 6px 20px;
  outline: none;
  border: 1px solid #74B4B5;
}
.empty-wl button:hover{
  opacity: 0.75;
  cursor: pointer;
}
.empty-wl img{
  width: 280px;
  height: auto;
  object-fit: scale-down;
}
.empty-wl h5 {
  padding-bottom: 35px;
  font-weight: 350;
  color: #AFAFAF;
  text-align: center;
  margin: 0 16px;
}
@media(max-width: 1120px){
  .addBtndsb {
    font-size: 12px;
  }
}
.mb-pd-price{
  display: none;
}
@media(max-width: 1100px){
  .wishlist-container {
    /* background-color: chartreuse; */
    /* border: 10px solid coral; */
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1680px;
  }
  .addBtndsb {
    background: #74B4B5;
    color: white !important;
    border: none;
    opacity: 0.65;
    padding: 8px;
    font-size: 12px;
  }
  .dk-pd-name{
    font-size: 12px;
  }
  .addBtn {
    padding: 8px;
    font-size: 12px;
    margin: 0 0 0 12px;
  }
  .wishlist-table-cell, .wishlist-table-row-h h6{
    font-size: 14px;
  }
}
/* mobile style */
  @media(max-width: 767px){
    .wishlist-table {
      padding: 2px 0 0 0;
      width: 100%;
    }
    .addBtn{
      margin: 10px 0;
      padding: 3px 20px 2px 20px
    }
    .dt-pd-price, .dt-pd-stock, .dt-pd-addCart{
      display: none;
    }
    .mb-pd-price{
      display:flex;
      justify-content: flex-end;
      flex-direction: column;
      text-align: right;
      width: 100%;
    }
    .wishlist-table-row-h{
      display: none !important;
    }
    .wishlist-table{
      /* display: none !important; */
    }
    .wishlist-table-row .wishlist-table-cell-f {  
        display: inline-flex;
        align-items: start;
        flex-direction: column;
    }
    .mb-rm-btn{
      display: none !important;
    }
    .wishlist-table-cell{
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
    .wishlist-table-cell-f div:nth-child(2) {
      padding-left: 0 !important;
      text-align: left;
    }
    .wishlist-table-cell-f img {
      border: 1px solid rgb(116, 180, 181, 0.35);
    }
    .dk-pd-name{
      display: none;
    }

    .mb-pd-name{
      padding: 10px 0;
      font-size: 1.05rem;
      font-weight: 200;
    }
    .mb-name-row{
      display: flex !important;
    }
    .stock-status{
      justify-content: flex-end;
    }
  }
  .mb-rm-btn-ico{
    margin: 0 16px;
    color: #74B4B5;
  }
/* mobile style */

  
  .row-divider{
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .row-divider-title{
    display: block !important;
    margin: 12px 0 0 0 !important;
    padding: 0 !important;
  }

