.account-detail-info-sec {
  border: 1px solid rgba(103, 160, 161, 0.5);
  padding: 30px 45px !important;
  }
  
  @media(max-width:767px){
    .account-detail-info-sec .billing-form-name fieldset:nth-child(1){
      padding:0;
      margin: 0;
    }
    .account-detail-info-sec .billing-form-name fieldset:nth-child(2){
      padding:0;
      margin: 10px 0 0 0;
    }
  
  }
  .my-acc-vert-ctr{
    margin-top: 60px;
    font-weight: 550;
    font-size: 1.05rem;
    color:#606060;
  }
  .my-acc-vert-ctr a{
    padding: 16px 0 16px 0;
    color:#606060;
  }
  .my-acc-vert-ctr a:hover, .my-acc-vert-ctr .active-selection{
    opacity: 0.55;
  }
  .my-acc-vert-ctr hr{
    height: 2px;
    width: 100%;
    margin-top:0;
    margin-bottom: 0;
  }

  @media(max-width:768px){
    .acc-detail-sec{
    margin:0!important;
  }
}