/* Product Detail */
.recommand-section{
  margin: 150px 0 0 0 !important;
}
.proudct-detail-container{
  /* background-color: chartreuse; */
  /* border: 10px solid coral; */
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}
  button:disabled {
    opacity: 0.6;
    cursor: none;
  }
.proudct-detail-container ul {
  padding: 0;
}

.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
}

.product-detail-img{
  margin: 0 70px 0 0 ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-detail-img li:hover{
  cursor: pointer;
}
.mb-pd-img, .mb-slider{
  display: none ;
}

  .product-detail-info li h2{
    font-size: 22px;
  }
  .mb-pd-img img{
    width: 100%;
    height: auto;
    object-fit: fill;
  }

  .proudct-detail-container row{
    margin: 0 !important;
  }
  .mb-row{
    margin: 0 !important;

  }
  .product-detail{
    width: 100%;
  }
  .product-detail-info{
    padding-top:  10px;
    margin: 0 !important;
    /* min-width: 100% !important; */
  }
 
  .product-detail-info ul{
    width: 90%;
    margin: 0 !important;
  }
  .mb-row hr {
    display: block !important;
  }
  .slick-next {
    right: 1px;
  }
  .slick-prev {
    left: 1px;
  }
  .recommand-section{
    margin: 80px 0 0 0 !important;
  }

@media(max-width:375px){
  .add-to-cart {
    margin: 0 10px 0 10px !important;
  }
}

@media(max-width:370px){
  .add-to-cart {
    padding: 0px 10px 0 10px !important;
    margin: 0 5px 0 5px !important;
  }
  .QTY_num {
    padding: 3px 5px 2px 5px !important;
  }
}

.hero-pd-img{
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.sm-pd-img {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sm-pd-img img{
  width: 110px;
  height: 110px;
  object-fit: cover;
}

/* product spec style*/
.product-detail-info{
  margin: 0 0 0 70px ;
  min-width: 450px;
}
.spec {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

}

.spec ul{
  width: 50%;
}
.product-detail-info .stock-status{
  display:flex;
  justify-content: flex-start;
}
.stock-indicator{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  color: #74B4B5;
  padding: 0 0 0 10px;
}
.stock-indicator i {
  padding: 4px 2.5px 0 0;
}

.share-social-link ul{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
.share-social-link img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 5px;
}
.share-social-link img:hover{
  opacity: 0.6;
}
.product-detail h5 {
  font-weight: bold;
  font-size: 16pt;
}
.product-detail b {
  font-weight: medium;
}

.product-interaction{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0; 
  padding-bottom: 20px;
}
.QTY{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.QTY_btn{
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  /* padding: 20px 10px 5px 10px; */
  border: 1px solid #CCC8C8;
}

.fa-plus:hover, .fa-minus:hover{
  cursor: pointer;
}

.QTY_btn i{
  padding: 9px;
  font-size: 10.5pt;
  font-weight: lighter;
}
.add-to-cart{
  margin: 0 20px 0 20px;
  background: #74B4B5;
  padding: 0 20px 0 20px;
  color: white;
  font-size: 13.5pt;
}
.add-to-cart:hover{
  cursor: pointer;
}
.add-to-cart a, .add-to-cart a:hover{
  cursor: pointer;
  color: white;
}
.QTY_num{
  font-weight: normal;
  font-size: 13.5pt;
  margin:0px;
  padding: 3px 10px 2px 10px;
}
.whish-list-btn{
  background: none;
  border: none;
  font-size: 14pt !important;
  border: 0.5px solid #74B4B5;
  /* padding: 10px */
}
.whish-list-btn i{
  margin: 0 3px 0 3px;
}

.whish-list-btn .fa-heart{
  color: red;
}

.color-selections{
  margin: 0 0 45px 0;
}
.color-selections .color-btn{
  position: relative;
  margin-right: 16px; 
  border: 1px solid rgba(0,0,0, 0.08);
  transition: all 0.35s
}
.color-check-mark{
  position: absolute;
  top: 0px;
  right: 2px;
  width: 12px;
  height: auto;
  color: white;
}
.check-mark-b{
  color: black !important;
}

.color-btn-active{
  /* border: 5px solid rgba(116, 180, 181, 0.8) !important; */
  -webkit-box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.08);
  box-shadow: 0px 14.5px 22px 0px rgba(90, 91, 95, 0.15);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
/* .color-btn:focus{
  border: 3px solid rgba(0,0,0, 1);
  -webkit-box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.08);
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.08);
  -webkit-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
} */
.color-pad .color-label{
  font-size: 18px;
  margin: 20px 0 12px 0;
}
.color-selections .color-btn:hover{
  cursor: pointer;
  opacity: 0.75;
  /* -webkit-box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.08);
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.08); */
  /* -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08); */
}
/* share section */


/* recommand */
.recommand-section{
  margin: 200px 0 0 0;
}
.recommand-list {
  margin: 50px 0 150px 0; 
}
.recommand-list ul{
  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding:0;
}
.recommand-list li{
  margin: 0 20px 0 20px;
  transition: all 0.3s ease-in-out;
}

.recommand-list li:hover{
  box-shadow:0px 16px 22px 0px rgba(90, 91, 95, 0.18);
  transform: scale(1.035,1.035);
}

.recommand-list img{
  object-fit: cover;
  max-width: 300px;
  max-height: auto;
  width: 26vw;
  height: auto;
}
.recommanded-sec{
  margin: 65px 0 0 0;
}
.recommanded-pd{
  object-fit: cover;
  max-width: 300px;
  max-height: auto;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
recommanded-pd:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* react slick style override */
.slick-next, .slick-prev {
  border: 1px solid #CECCCC;
  background: white;
  font-size: 0px;
  line-height: 0;
  width: 50px;
  height: 50px;
  z-index:9998
}
@media(max-width: 767px){

  .proudct-detail-container{
    /* padding-right: 5%;
    padding-left: 5%; */
    padding-right: 16px;
    padding-left: 16px;
  }
  .product-detail-info{
    padding-top:  10px;
    margin: 0 !important;
    /* min-width: 100% !important; */
  }
 
  .product-detail-img{
    display: none !important; 
  }
  .mb-pd-img, .mb-slider{
    padding: 2px;
    display: block;
  }
  /* .whish-list-btn {
    background: red;
    font-size: 15px !important;
  } */
}
@media(max-width: 700px){
  .slick-next, .slick-prev {

    width: 30px;
    height: 30px;
    z-index:9998
  }
}
.slick-next:before {
  font-size: 0px;
  margin-left: 3px;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #9E9E9E;
  background: white;
}
.slick-prev:before {
  font-size: 0px;
  margin-right: 3px;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #9E9E9E transparent transparent;
  background: white;
}

.slick-next:hover, .slick-prev:hover {
  background: white;
  opacity: 1;
}

/* react slick style override */

/* recommand card style */
.r-pd-card{
  position: relative;
}

.pd-card-overlay{
  position: absolute;
  /* display: none !important; */
  opacity: 0;
  /* background: rgba(0,0,0, 0.1); */
  transform: translate(0,  100px);
  width: 100%;
  height: 100%;
  transition: all 0.3s
}
.r-pd-card:hover .pd-card-overlay, .product-list-each:hover  .pd-card-overlay{
  /* display: flex !important; */
  opacity: 1;
  transform: translate(0, 0);
}
.pd-card-overlay:hover{
  cursor: pointer;
  display: flex !important;
}


/* .pd-int-btn-b{
  position: relative;
  border: 1px solid black;
  background: white;
  padding: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.pd-int-btn-b img{
  position: absolute;
  top: 25%;
  bottom:25%;
  right:25%;
  top:25%;
  width: 50%;
  height: 50%;
} */
/* .pd-int-btn-b:hover{
  box-shadow:0px 16px 22px 0px rgba(90, 91, 95, 0.18);
} */
.pd-int-btn {
  width: 45px;
  margin: 0 10px;
  height: auto;
  object-fit: cover;
  transition: all 0.3s;
  z-index: 19999;
}
.pd-int-btn:hover {
  width: 45px;
  margin: 0 10px;
  height: auto;
  transform: scale(1.2);
  object-fit: cover;
  /* box-shadow:0px 16px 22px 0px rgba(90, 91, 95, 0.18); */
  z-index: 19999;
}
.slick-dots li{
  padding: 0;
  margin: 0;
  cursor: pointer;
}
/* recommand card style */