/* page heading sec */
.page-heading{
  margin: 0 15px;
}
.login-coupon-ads{
  border-top: 3.5px solid #7B6056;
  padding: 20px 0;
  color: #7B6056;
  background:#F5F6F8;
  margin-top: 25px; 
}
.login-coupon-ads a{
  color: #4F4E4E;
  font-weight: 550;
  padding: 0 20px;
}
.login-coupon-ads a:hover{
  opacity: 0.75;
}
/* / page heading style */

/* billing form section */
.billing-sec {
  margin: 35px 0 0 0;
}
.billing-form{
  padding-left: 0;
}
.areacode{
  width: 40%;
}
.billing-form-name .fieldset-stacked:nth-child(1){
  padding: 0px 15px 0 0 ;
}
.billing-form-name .fieldset-stacked:nth-child(2){
  padding: 0px 0 0 15px;
}
.address-input input{
  margin: 0 0 25px 0;
}
.fieldset-stacked select{
  width: 100%;
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 5px;
  height: 36px;
  background: white;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  padding: 0 10px;
  background-image: url("/dparrow.svg");
  background-repeat: no-repeat;
  background-position:  97% 50%;
  background-size:  10px 10px
}
.fieldset-stacked textarea{
  width: 100%;
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 5px;
  height: 256px;
  background: white;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  padding: 0 10px;
}
.login-reminder{
  color: #606060;
  font-weight: 500;
  padding-top: 15px;
}
.ship-to-different-address h6{
  color: #7B6056;
  font-size: 17.5pt;
  font-weight: 510;
  padding: 0 25px 0 0;
  margin: 0;
  font-weight: 550;
}
/* /billing form section */

/* subtotal form section */
.sub-total-form{
  color: #4F4E4E;
  padding: 35px;
  background: #F5F6F8;
}
.checkout-form-header{
  color: #7B6056;
  font-weight: 550;
}
.checkout-form-col{
  width: 100%;
  text-align: center;
}
.sub-total-form hr{
  width: 100%;
  text-align: center;
  margin: 0px;
  padding:0;
}
.checkout-form-col-header{
  font-weight: bold;
}
.checkout-form-col div{
  padding: 5px;
}
.checkout-cart-subtotal{
  font-weight: bold;
}
.checkout-cart-order-subtotal{
  font-weight: bold;
  color: #74B4B5;
}
.place-order a{
  width: 100%;
  margin: 25px 10px 0 10px !important; 
}
.place-order-btn{
  background:#74b4b5;
  color: white;
  border: none;
  margin: 20px 0;
  text-align: center;
  padding: 10px 20px 10px 20px;
  width: 100%;
}
.place-order-btn:hover{
 background:  rgba(85, 130, 131, 0.8);
 cursor: pointer;
}

/* /subtotal form section */

@media(max-width: 500px){
  .billing-form-name .fieldset-stacked:nth-child(1) {
    padding: 0px 5px 0 0;
  }
  .areacode {
      width: 55%;
  }
}
@media(max-width: 375px){
  .billing-form-name .fieldset-stacked:nth-child(1) {
    padding: 0px 2px 0 0;
  }
  .areacode {
      width: 60%;
  }
}
@media(max-width: 320px){
  .billing-form-name .fieldset-stacked:nth-child(1) {
    padding: 0px 2px 0 0;
  }
  .areacode {
      width: 80%;
  }
}