
li{
  list-style: none;
}
/* .carousel-item{
  position: relative;
} */
/* carousel style START*/
.carousel {
  width: 100%;
  height: 70vh;
}
.carousel-item{
  width: 100%;
  height: 70vh;
}
.carousel-inner{
  width: 100%;
  height: 70vh;
}
.carousel img{
  display: block;
  object-fit: cover;
  height: 100%;
  line-height: 1;
  margin:auto;
  width: 100%;
}

.carousel img{
  display: block;
  object-fit: cover;
  height: 100%;
  line-height: 1;
  margin:auto;
  width: 100%;
}

.text-block {
  position: absolute;
  color: white;
  top: 35%;
  left: 10%;
  /* margin: 20vh 50vh 20vh 30vh; */
  padding-left: 50px;

}
.text-block p {
  font-size: 13.5pt;
  margin-left: 0.2em;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
.text-block button {
  margin-top: 10px;
  border-radius: 0px
  
}
.text-block button:hover{ 
  cursor: pointer; 
}

.text-block h1{
  font-size: 45pt;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
/* carousel style END*/

/* content style START*/
  .container-fluid{
    /* background-color: chartreuse; */
    /* border: 10px solid coral; */
    padding-right: 10%;
    padding-left:  10%;
    padding-top: 69px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1680px;
  }
  .fa-star{
    color: #7B6056;
    font-size: 13.5pt;
    margin: 0px 20px 0px 20px;
  }
  /* Section header */
  .section-header-br{
    margin-bottom: 20px;
  }
  .section-header {
    text-align: center;
  }
  .section-header h1{
    font-size: 30pt;
  }
  .title-divider {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title-divider hr{
    display: inline-block;
    margin: 0;
    width: 12.5vw;
    max-width: 12.5vw;
    border: 1.5px solid #6B4736;
  }

  .featured-products ul {
    border:1px white;
    font-size: 10pt;
    list-style: none;
    margin: auto;
    padding: 0;
    color: black;
    display:flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .featured-products li{
    padding: 20px 0px 20px 0px;
  }

  .featured-products a{
    font-size: 12pt;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    color: black;
  }
  .featured-products a:hover, .featured-products a:active, .featured-products a:focus{
    color: cadetblue;
  }

/* content style END*/

/* PRODUCT list style START*/
.product-list-section ul {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.product-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
  margin: 0 20px 0 20px;
  transition: all 0.3s ease-in-out;
}

.product-item:hover{
  /* box-shadow:0px 16px 22px 0px rgba(90, 91, 95, 0.18);
  transform: scale(1.035,1.035); */
}
.product-item:hover h6, .product-item:hover p{
  opacity: 0.55;
}
li a, li a:hover{
  text-decoration: none;
  color: black;
}
.product-item h6{
  margin: 12px 0 0 0 ;
}
.product-item p{
  margin: 9px 0 0 0;
}

.product-item img{
  object-fit: cover;
  width: 210px;
  height: 225px;
}
/* PRODUCT liststyle END*/

/* Mobile app ads style Start*/
.mobile-app-adv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  margin-bottom: 75px;
  margin-top: 45px;
}
.adv-images img{
  object-fit: cover;
  max-width: 48vw;
  max-height: 40vw;
  width: auto;
  height: auto;
}
.adv-description{
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left:65px;
  margin-right: 5vw;
}
.adv-description h1{
  font-size: 31pt;
  padding-bottom: 30px;
  width: 37vw;
  margin: none;
}
.adv-description p{
  width: 33vw;
}
.download-tabs {
    /* margin: 75px 0 0 0; */
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}
.download-tabs .btn-info{
  width: 270;
  height: 42px;
  cursor: pointer;
  margin-right: 1vw;
}
.download-tabs img{
  padding-left: 1vw;
  padding-right: 1vw;
  width: auto;
  height: 42px;
}

/* Mobile app ads style END*/

/* top product list style START*/
.top-product-list {
  margin: 50px 0 150px 0; 
}
.top-product-list ul{
  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0;
}
.top-product-list li{
  margin: 0 20px 0 20px;
  transition: all 0.3s ease-in-out;
}

.top-product-list li:hover{
  box-shadow:0px 16px 22px 0px rgba(90, 91, 95, 0.18);
  transform: scale(1.035,1.035);
}
.top-product-list img{
  /* object-fit: cover;
  max-width: 356px;
  max-height: 205px;
  width: 26vw;
  height: auto; */
  object-fit: cover;
  max-width: 215px;
  max-height: 205px;
  width: auto;
  height: auto;
}
/* top product list style END*/
/* seller list style START*/
.our-sellers ul{
  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0;
}
.seller-list{
  margin: 50px 0 70px 0; 
}
.seller-list li{
  padding: 0 5px 0 5px;
}

.seller-list img{
  object-fit: cover;
  max-width: 356px;
  max-height: 205px;
  width: 20vw;
  height: auto;
}
.tab-mb{
  display: none;
}
/* seller list style END*/

@media(max-width: 1000px){

}
@media(max-width: 990px){
  .text-block {
    position: absolute;
    color: white;
    top: 35%;
    left: 10%;
    /* margin: 20vh 50vh 20vh 30vh; */
    padding-left: 50px;
  }
}

@media(max-width: 767px){
  .top-product-list img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 115px;
    max-height: 205px;
    width: auto;
    height: auto;
  }
  .text-block {
    position: absolute;
    color: white;
    top: 35%;
    left: 10%;
    right: 10%;
    /* margin: 20vh 50vh 20vh 30vh; */
    padding: 0 5px !important;
  }
.text-block h1 {
    font-size: 25pt;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
  }
  .tab-mb{
    display: flex;
  }
  .product-item{
    margin: 0 5px 0 5px;
  }
  .product-item img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
  .container-fluid{
    padding-right: 16px;
    padding-left: 16px;
  }
  .mobile-app-adv{
    flex-direction: column-reverse !important;
    padding-top: 20px;
    margin-bottom: 35px; 
    margin-top: 25px;
  }
  .adv-description h1{
    font-size: 21pt;
    padding-bottom: 5px;
    width: 100%;
    margin: 0 16px;
  }
  .adv-description{
    flex-wrap: wrap;
    padding:  0;
    margin: 0 16px 0 16px;
  }
  .adv-description p{
    width: 97%;
    margin: 16px;
  }
  .tab-dk{
    display: none;
  }
  .download-tabs-mb{
    margin: 75px 0 0 0;
    display: -ms-flexbox;
    display: flex;
    width: 37vw;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .adv-images{
    margin: 15px;
    width: 100%;
  }
  .adv-images img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
  }

  .download-tabs img {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100px;
    height: auto;
  }
  .download-tabs .btn-info {
    width: 100px;
    height: 31px;
    cursor: pointer;
    font-size: 13px;
    padding-bottom: 12px;
  }
  .download-tabs {
    /* margin: 75px 0 0 0; */
    align-content: center;
    justify-content: center;
  }
  .title-divider hr {
      display: flex !important;
  }
  .section-header h1 {
    font-size: 22pt;
  }
  .text-block p {
    text-align: center;
  }
  .text-block h1 {
    text-align: center;
  }
  .text-block button {
    margin-top: 10px;
    border-radius: 0px;
    width: 60%;
    margin-left: 18%;
  }
  .featured-products a {
    font-size: 12pt;
    padding-right: 15px;
  }
}
@media(max-width:375px){
  .top-product-list img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 95px;
    max-height: 205px;
    width: auto;
    height: auto;
  }
}