/* Topheader style */
.thstyle{
    padding:0 2%;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.dd-toogle.btn{
  font-size: 10pt;
  color:#7B6056;
  background: none;
  border: none;
  font-weight: normal;
  line-height: 0.9;
  border-radius: 0;
}
.dd-toogle:hover {
  background: rgba(0,0,0,0.05);
  border: none;
}

.dd-toogle:focus {
  background: none;
  border: none;
  border-color: none;
  box-shadow: 0;
  outline:0;
}
*:focus {outline:none !important}

/* button onClick style */
.dd-toogle .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
  background:  none;
  border: none;
  border-color: none;
  box-shadow: 0;
  outline:0;
}

.dd-menu{
  background-color: white;
  min-width: 160px;
  margin: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  border: none;
  border-radius: 0px;
  color:#7B6056;
  font-weight: normal;
  z-index: 1;
}
.dd-menu a{
  color: #7B6056;
}
.dropdown button:focus,
.dropdown button:active{
  background: none;
  color: #7B6056;
}
.dd-menu .dropdown-item{
  color:#7B6056;
  font-weight: normal;
  font-size: 11pt;
}
.dd-menu .dropdown-item:hover {
  color:#7B6056;
  font-weight: normal;
  font-size: 11pt;
}

.dd-menu .dropdown-item:focus{
  color:#7B6056;
  background: none;
  font-weight: normal;
  font-size: 11pt;
}

.udd{
  margin-right: auto;
}

@media(max-width: 767px){
  .thstyle{
    display: none !important;
  }
  
  .lengthIndicator {
    top: -5px !important;
    left: 15px !important;
  }
  .sub-cat::before {
    content: "．" !important;
  }
  .bm-item .cat-dropdown{
    padding: 10px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.329);
  }
  .bm-item .collapse{
    border-bottom: 1px solid rgba(204, 204, 204, 0.329);
  }
  .bm-item .sub-cat{
    padding: 5px 15px 5px 10px;
  }

  /* .bm-item a{

  } */
  .bm-item a .Oasislogo{
    width: 175px;
    height: auto;
    padding: 10px;
  }
  .bm-item .search-box-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .bm-item .search-box-input {
    width: 100%;
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .bm-item .search-box-button{
    margin-right:10px;
  }

}
/* Topheader style */


/* Midheader style */
.mheader{
  /* height: 65px; */
  background: white
}

.mwrapper{
  margin: 0 auto;
  padding:5px 3%;
}

.mwrapper-mobile{
  /* padding: 16px; */
  /* margin: 16px; */
  /* height: 50px; */
  border-bottom: 1px solid rgba(0,0,0,0.12);
  display:none !important;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 51999;
}
.cartBtnLink{
  
  position: fixed;
  right: 16px;
  top: 15px;
}
.cartBtn{
  width: 25px;
  height: auto;
}
.wishBtnLink{
  position: fixed;
  right: 57px;
  top: 15px;
}
.wishBtn{
  width: 25px;
  height: auto;
}

@media(max-width: 767px){
  .mwrapper-mobile{
    display:flex !important;
  }
  .mwrapper{
    display:none;
  }
}

.Oasislogo{
  width: 135px;
  height: auto;
  padding: 10px;
}
.lgbox{
  flex:2;
}
.lgbox img{
  object-fit: cover;
}
.wishlist{
  padding-left: 20px;
}
.cart{
  padding-left: 35px;
}
.mbtn{
  position: relative;
  display: inline-block;
  font-size: 12pt;
  padding: 6px;
  color: #7B6056;
}

.search-box-wrapper {
  display: inline-flex;
  font-size: 12pt;
}
.search-box-input {
  font-size: 10pt;
  border: 0.1px solid #7B6056;;
  padding-right: 10px;
  padding-left: 10px;
  width: 200px;
  outline: 0;
}
.search-box-input:hover,
.search-box-input:focus {
  border-color:#7B6056;
}
.search-box-button {
  font-size: 11pt;
  border: 0.2em solid #7B6056;
  background-color: #7B6056;
  padding: 0 1 0.63em;
  color: white;
  font-weight: normal;
  outline: 0;
  cursor: pointer;
  z-index: 1000;
}
.search-box-button i{
  padding:0;
  margin:0;
}
.search-box-button:hover,
.search-box-button:focus {
  border-color: #606266;
  background-color: #606266;
}


.mwrapper ul {
  border:1px white;
  font-size: 10pt;
  list-style: none;
  margin: 5px auto;
  padding: 0;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* Midheader style */




/* Botheader style */
.bheader{
  padding:0 2%;
  background: #7B6056;
}
.bhwrapper ul{
  margin-bottom:0px;
  border:1px white;
  background:none;
  list-style: none;
  padding: 0;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bhdropdown {
  position: relative;
  display: inline-block;
}

.bhdropdown-content {
  display: none;
  position: absolute;
  background-color: #7B6056;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
  width: 25vh;
  z-index: 1;
}
.bhdropdown-content-btn{
  color: white;
  display: flex;
  flex-direction: column;
}

.dropbtn {
  background-color: #7B6056;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 17px;
  padding-right: 11px;
  font-size: 9pt;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:active, .dropbtn:focus{
  background: #74B4B5;
}
button > i{
  margin-left:6px;
}
.bhdropdown-link{
  color:white;
  padding: 6px;
  font-size: 9pt;
}
.bhdropdown-link:hover,
.bhdropdown-link:focus{
  color:white;
  font-size: 9pt;
  background: #74B4B5;
}

.bhdropdown:hover .bhdropdown-content {
  display: block;
}
.v-devide{
  border-right: 1px solid rgba(0,0,0,0.25);
  margin: 6px 1px;
  /* width: 2px; */
  height: 15px;
}

.cartImage, .wishListImage{
  position: relative;
}
.wishListImage img{
  width: 25px;
  height: 25px;
  padding-bottom: 5px;
}
.cartImage img{
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
}
.iconInd{
  position: relative;
}
.lengthIndicator{
  /* position: absolute;
  top: 10%;
  left: 96%;
  position: absolute;
  color: white;
  background: #74B4B5;
  padding: 1.6px 4px;
  border-radius: 100%;
  font-size: 8.6pt;
  width: 20px;
  height: 20px;
  text-align: center; */


  position: absolute;
  top: 10%;
  left: 96%;
  position: absolute;
  color: white;
  background: #74B4B5;
  padding: 1.8px 1.8px 1.8px 1.9px;
  border-radius: 100%;
  font-size: 7.8pt;
  width: 18px;
  height: 18px;
  text-align: center;

}

.indHidden{
  display: none !important;
}
.indShown{
  display: block !important;
}

@media(max-width: 767px){
  .bheader{
    display: none !important;
  }
}
/* Botheader style */



/* hambuger menu styles */

.bm-burger-button {

  position: fixed;
  width: 26px;
  height: 23px;
  left: 15px;
  top: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  /* background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; */
  background: #fff;
  /* padding: 60px 25px 60px 25px; */
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}
.bm-item .sub-cat{
  font-size: 1rem !important;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.45 );
  z-index: 1002 !important;
}
.bm-item-list {
  padding: 1px;
}
.bm-item-list .home-pd{
  padding: 10px 0;
  margin-top: 20px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.329);
}
.bm-item-list .all-pd{
  padding: 10px 0;
  /* margin-top: 20px; */
  border-bottom: 1px solid rgba(204, 204, 204, 0.329);
}
.bm-menu-wrap{
  width: 100% !important;
}
/* hambuger menu styles */