.footer-nav{
  margin: 15vh 0 0 0;
  background: #7B6056;
  color: white;
}
.footer-nav h4{
  font-size: 16pt;
  padding:0 0 10px 0;
}

.footer-nav p{
  font-weight: lighter;
  padding: 0 0 10px 0;
  margin: 0;
}
.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover, .footer-links a:focus, .footer-links a:active{
  color: rgba(230, 230, 230, 0.9);
  text-decoration: none;
}
.footer-company-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 0 0 10px 0;
}

.footer-company-info p{
  font-size: 11pt;
}
.footer-company-info a{
  color: white;
  text-decoration: none;
  padding: 0 0 8px 0;
  font-size: 11pt;
}

.footer-company-info i {
  font-size: 20pt;
  padding: 0 20px 10px 0;
}

.footer-company-info .fa-envelope {
  font-size: 15pt;
}
.footer-company-info-social{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-company-social-icon i {
  background: white;
  font-size: 15pt;
  border-radius: 50%;
  padding: 11px 12.5px 12px 12.5px;
  margin-right: 15px;
  color:#7B6056;
}

.footer-download-tabs{
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}
.footer-download-tabs img{
  padding-right: 1vw;
  width: auto;
  height: 35px;
}
.bottom-copyright {
  padding-top: 30px;
}
.bottom-copyright ul{
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.bottom-copyright ul p {
  padding: 3px 0 0 0;
}

.bottom-copyright ul img{
  padding-left: 1vw;
  padding-right: 1vw;
  width: auto;
  height: 26px;
}

@media(max-width: 767px){
  .footer-nav{
    display: none;
  }
}