/* .cart-table-row*/
.cart-container{
  /* background-color: chartreuse; */
  /* border: 10px solid coral; */
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1680px;
}
.cart-table-container{
  padding-top: 30px;
}
.cart-table {
  display: table;
  padding: 20px 0 0 0;
  width: 100%;
}
.page-path{
  color: black;
  font-size: 10.9pt;
}
.page-path ul{
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.page-path li{
  padding: 0 2px 0 2px;  
}

/* cart tabe title */
.page-title h6{
  color: #7B6056;
  font-size: 22.5pt;
  font-weight: 550;

}

/* table-header */
.cart-table-row-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.cart-table-row-h{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
  background: #74B4B5;
  color: white;
  width: 100%;
}
.cart-table-row-h h6{
  font-size: 13.5pt;
  margin: 0;
  padding:0;
}
.cart-table-row-h .cart-table-cell-f{
  display: inline-flex;
  align-items: center;
  flex-grow: 3;
}
.cart-table-row-h .cart-table-cell-f h6:nth-child(2){
  padding-left: 2vw;
  margin-left: 130px;
}
.cart-table-row-h .cart-table-cell:nth-child(5){
  color: red;
  max-width: 10px;
  min-width: 10px;
}
/* table cell row*/
.row-divider{
  margin: 20px 12px 20px 12px;
}
.cart-table-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.cart-table-row-h .cart-table-cell{
    margin: 14px 1vw 14px 1vw;
    max-width: 120px;
    min-width: 120px;
    text-align: center;

}
.cart-table-row .cart-table-cell {
  margin: 14px 1vw 14px 1vw;
  max-width: 120px;
  min-width: 120px;
  text-align: center;
}

.cart-table-row .cart-table-cell:nth-child(4){
  padding-right: 0px;
}

.cart-table-row .cart-table-cell-f{
  display: inline-flex;
  align-items: center;
  flex-grow: 3;
  margin: 14px 10px 14px 10px;
}
.cart-table-cell-f img{
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.cart-table-cell-f div:nth-child(2){
  padding-left: 2vw;
  text-align: center;
}

.cart-table-row .cart-table-cell:nth-child(5){
  padding-right: 0px;
  max-width: 12px;
  min-width: 12px;
  margin: 14px 10px 14px 14px;
}
.cart-table-cell .fa-times{
  color: #74B4B5;
  background: white;
  font-size: 14pt;
  transition: all 0.3s ease-in-out;
  border-radius: 100%;
}
.cart-table-cell .fa-times:hover{
  color: #74B4B5;
  opacity: 0.55;
  cursor: pointer;

}
.table-inteaction ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 0 0 0 10px;
  margin: 0;
}
.table-inteaction li:nth-child(2){
  padding-left: 20px;
  flex-grow: 1;
}

.table-inteaction li button{
  background: none;
  border: 1px solid #74B4B5;
  color: #74B4B5;
  padding: 10px 20px 10px 20px;
}
.table-inteaction li button:hover,
.table-inteaction li button:focus,
.table-inteaction li:nth-child(3) button:hover,
.table-inteaction li:nth-child(3) button:focus
{
  background: rgb(95, 144, 145);
  cursor: pointer;
  color: white;
  outline: none; 
  border: 1px solid #74B4B5;
}

.table-inteaction li:nth-child(3) button{
  background: #74B4B5;
  color: white;
  padding: 10px 20px 10px 20px;
  outline: none; 
  border: 1px solid #74B4B5;
}



/* qty increment */
.cart-product-interaction{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.cart-QTY{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.cart-QTY_btn{
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  padding: 1px 2px 0 2px;
  border: 0.5px solid #CCC8C8;
}

.cart-QTY_btn i{
  padding: 10px;
  font-size: 11.5pt;
  font-weight: lighter;
  color: #CCC8C8;
}

/* check out sec */
.checkout-section{
  /* display: flex;
  justify-content: space-between;
  align-content: center;
  color: #4D4D4D;
  margin-left: 10px;
  margin-top: 95px; */
}
.checkout-section h5{
  font-size: 14.5pt;
  font-weight: 600;
}
.checkout-section button{
  background: #74B4B5;
  color: white;
  padding: 10px 20px 10px 20px;
  outline: none; 
  border: 1px solid #74B4B5;
  padding: 10px 20px 10px 20px;
}
.checkout-section button:hover{
  background: rgb(95, 144, 145);
  cursor: pointer;
  color: white;
  outline: none; 
  border: 1px solid #74B4B5;
  padding: 10px 20px 10px 20px;
}
.subtotal-amount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.subtotal-amount ul:nth-child(2){
  text-align: end;
}
.checkout-section p{
  font-weight: 530;
  margin: 0;
}
.checkout-section input{
  width: 70%;
  height: 40px;
  outline: 0;
  border: 1px solid #74B4B5;
}
.checkout-section ul{
  padding: 0;
  margin:0;
}
.checkout-section ul li{
  padding: 0 0 20px 0;
}
/* .checkout-section ul li:first-child, .cart-total ul li:first-child{
  padding: 0 0 30px 0;
  font-size: 20pt;
} */
/* .coupon-code, .cart-total{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  background: #F5F6F8;
  padding: 45px;
  max-width: 46%;
  min-width: 46%;
  border-top: 5px solid #4D4D4D;
} */


@media(max-width: 767px){
  .cart-table-row-h{
    display: none;
  }
  .dk-cart-pd-name ,.dk-cart-item{
    display: none;
  }
  .cart-table-cell-f{
    margin: 0 !important;
  }
  .cart-table-cell-f img {
    border: 1px solid rgb(116, 180, 181, 0.35);
  }
  .mb-cart-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right !important;
  }
  .mb-cart-price span{
    margin-top: auto;
  }
  .mb-ed-cart{
    background: #74B4B5;
    color: white !important;
    border: none;
    text-align: center !important;
    margin-top: 12px;
  }
  .mb-cart-interaction{
    margin: 10px 0;
  }
}