/* sign in form */
.p-path-sec{
  padding:0 15px;
}
.login-form{
  border: 1px solid rgba(114, 179, 181, 0.3);
  padding: 25px;
  margin:  15px 0 0 0;
}
.required-field::after {
  content: " * ";
  color:red;
  font-size: 14pt;
}
.required-field-decor{
  color: red;
  font-weight: 450;
}
.required-field-decor::before{
  content: " * ";
  color:red;
  font-size: 14pt;
}
.fieldset-stacked, .fieldset-row{
  width: 100%;
  padding: 10px 0 0 0;
}
.fieldset-stacked label{
  color: #606060;
  font-weight: 450;
  font-size: 12.5pt;
}
.fieldset-stacked:nth-child(2){
  width: 100%;
  padding: 25px 0 0 0;
}
.fieldset-stacked input{
  width: 100%;
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 5px;
  height: 36px;
  padding: 0 10px;
}
.fieldset-stacked-row{
padding: 20px 5px 10px 5px; 
}
.forgot-passowrd-decor a{
  color:  rgba(114, 179, 181, 1);
  font-weight: 500;
}
.forgot-passowrd-decor a:hover{
  color:  rgb(82, 131, 133);
  font-weight: 500;
}
.error-msg-decor{
  color: red;
  font-weight: 500;
}

.remember-cred-label{
  color: #606060;
  font-weight: 500;
  margin: 0 0 0 5px;
}
.social-title-check{
  color: #606060;
  font-weight: 500;
  margin: 0 0 0 5px;
  padding: 0 20px 0 0;
}
@media(max-width:576px){
  .required-field-decor{
    color: red;
    font-weight: 500;
    font-size: 7.9pt;
    padding:0;
    margin:0;
  }
  .required-field-decor::before{
    content: " * ";
    color:red;
    font-size: 7.9pt;
  }
  .forgot-passowrd-decor {
    color:  rgba(114, 179, 181, 1);
    font-weight: 500;
    font-size: 7.9pt;
    padding:0;
    margin:0;
  }
  .remember-cred-label{
    font-weight: 500;
    font-size: 7.9pt;
  }
}
.login-form-table h5{
  color: #606060;
  font-weight: 520;
  padding: 0 0 15px 0;
}
.create-acc-btn{
  margin: 20px 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.Signup-sugg{
  color: white;
  background:#74B4B5;
  border: none;
  width: 100%;
  padding: 10px 0;
}
.create-acc-btn a{
  color: white;
  border: none;
  width: 100%;
}
.sif-submit-btn{
  background:#74B4B5;
  color: white;
  border: none;
  margin: 20px 0;
  text-align: center;
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.sif-submit-btn:hover, .Signup-sugg:hover{
  background: rgba(114, 179, 181, 0.9);
  cursor: pointer;
}
/* /sign in form */

/* sign up form */
.sign-up-form{
  border: 1px solid rgba(114, 179, 181, 0.3);
  padding: 25px;
  margin:  15px 0 0 0;
  width: 100%;
}
.sign-up-form form{
  width: 100%;
  /* margin: 50px; */
}
.fieldset-row{
  padding: 15px 0;
}
.fieldset-row label{
  color: #606060;
  font-weight: 450;
  font-size: 12.5pt;
  padding-top: 5px;
  vertical-align: middle;
  margin:0;
  min-width: 10vw;
}
.fieldset-row input{
  width: 100%;
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 3px;
  height: 32px;
  padding: 0 10px;
}
.singup-input-chbox input{
  width: auto;
}
.DayPickerInput{
  width: 100%;
}
.fieldset-row .signup-input{
  width: 100%;
}
.password div{
  width: 100%;
}
.fieldset-row .signup-input-pwi button{
  color: white;
  background: #878787;
  border: none;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.showpw {
  color: white !important;
  background: #878787;
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}


.fieldset-row .signup-input-pwi input{
  border-right-width: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.fieldset-row .signup-input-pw{
  width: 60%;
  border: 1px solid rgba(114, 179, 181, 0.3);
  border-radius: 3px;
  height: 32px;
}
@media(max-width:992px){
  .fieldset-row .signup-input{
    width: 100%;
  }
  .fieldset-row .signup-input-pw{
    width: 60%;
  }
  .fieldset-row{
    padding: 6px 0;
  }
}
.signup-news-letter{
  color: #606060;
  font-weight: 500;
  margin: 0 0 0 5px;
  padding-top: 5px;
}
.already-have-acc{
  padding: 0 20px 0 0;
}

@media(max-width:992px){
  .already-have-acc{
    padding: 0;
  }
}
@media (max-width: 400px){
  .sign-up-form {
    padding: 0;
    border: none;
    margin: 0;
  }
}
.login-in-instead{
  font-weight: 545;
  font-size: 15pt;
  padding: 0 22px 15px 0;
  text-align: center;
}
.login-in-instead a:hover{
  color: #606060;
  cursor: pointer;
}

/* login instead padding*/
.login-in-instead .signup-input{
  width: auto;
}
.innerform{
  margin: 50px;
}
/* /sign up form */
#rw_1_input{
  border: none !important
}